<%- include('partials/header') %>
<h1>Welcome to the Home Page</h1>
<% if (locals.user) { %>
    <p>You are logged in!</p>
<% } else { %>
    <p>Please log in or register</p>
<% } %>
<%- include('partials/footer') %>