<%- include('partials/header') %>
<h1>Register</h1>
<% if (locals.error) { %>
    <p style="color: red;"><%= error %></p>
<% } %>
<form action="/auth/register" method="POST">
    <div>
        <label>Email:</label>
        <input type="email" name="email" required>
    </div>
    <div>
        <label>Name:</label>
        <input type="name" name="name" required>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" required>
    </div>
    <button type="submit">Register</button>
</form>
<%- include('partials/footer') %>